<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
     "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>AuditLogServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.AuditLogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AttachmentRetrieveServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.AttachmentRetrieveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageRetrieveServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.MessageRetrieveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageAttachmentDetailServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.MessageAttachmentDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageSearchServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.search.AdvancedSearch</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewSearchResultsServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.search.ViewSavedResultsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewRecentSearchListServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.search.RecentSearchListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewSavedSearchListServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.search.SavedSearchListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MboxExportServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.search.MboxExportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveSearchServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.search.SaveSearchWebScript</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StatsServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.StatsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KeyNameServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.KeyNameServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteSearchServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.search.DeleteSearchWebScript</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CancelSearchServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.search.CancelSearchWebScript</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetPermissionsServlet</servlet-name>
		<servlet-class>com.linuxbox.enkive.web.GetPermissionsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuditLogServlet</servlet-name>
		<url-pattern>/audit/recent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AttachmentRetrieveServlet</servlet-name>
		<url-pattern>/attachment/retrieve</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageRetrieveServlet</servlet-name>
		<url-pattern>/message/retrieve</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageSearchServlet</servlet-name>
		<url-pattern>/message/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageAttachmentDetailServlet</servlet-name>
		<url-pattern>/message/attachmentDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewSearchResultsServlet</servlet-name>
		<url-pattern>/search/results</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewRecentSearchListServlet</servlet-name>
		<url-pattern>/search/recentList</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ViewSavedSearchListServlet</servlet-name>
		<url-pattern>/search/savedList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MboxExportServlet</servlet-name>
		<url-pattern>/search/export/mbox</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveSearchServlet</servlet-name>
		<url-pattern>/search/save</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSearchServlet</servlet-name>
		<url-pattern>/search/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelSearchServlet</servlet-name>
		<url-pattern>/search/cancel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPermissionsServlet</servlet-name>
		<url-pattern>/user/permissions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatsServlet</servlet-name>
		<url-pattern>/stats/statistics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KeyNameServlet</servlet-name>
		<url-pattern>/stats/keys</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-page>
			<error-code>
				404
            </error-code>
			<location>
				/error.jsp
            </location>
		</error-page>
		<exception-type>
			java.lang.Throwable
        </exception-type>
		<location>
			/error.jsp
        </location>
	</error-page>
</web-app>